.contact_container_main > h2,
h4 {
  text-align: center;
}

.contact_container_main {
  border: 2px solid blue;
  display: grid;
  place-items: center;
}
.contact_section_main {
  min-width: 30vw;
  width: 50vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

input,
textarea {
  width: 100%;
  background: transparent;
  color: aliceblue;
  font-size: 1rem;

  padding: 1rem;
  border-radius: 0.3rem;
  outline: none;

  resize: none;
}
